.shop-container{
display: grid;
grid-template-columns: 1fr 5fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 52px;
    
}
.suggest-btn{
    font-size: larger;
    font-weight: 700;
    background-color: rgba(174, 222, 135, 0.836);
    border-radius: 9px;
    margin-bottom: 15px;
}
.reset-btn{

    font-size: medium;
    font-weight: 500;
    background-color: rgba(197, 20, 220, 0.664);
    border-radius: 15px;
}